.nav-item::after {
    background-color: yellow;
    transition: all 0.2s;
  }
  .demo-btn,
  .github-btn {
    background-color: black;
    color: #EDE3E4;
  }
  
  .demo-btn:hover,
  .github-btn:hover {
    background-color: rgb(135, 135, 134);
    transform: translateY(-3px);
  }
  .header{
    font-size: 60px; 
    font-family: "Tenor Sans", sans-serif;
  }
  
 
  .main-navbar{
    background-color: #8E443D;
    color: #EDE3E4;
  }
  .submit-btn{
    color: #EDE3E4;
    background-color: black;
  }

  .submit-btn:hover{
    background-color: rgb(135, 135, 134);
    transform: translateY(-3px);
  }

  .nav-link.active {
    background-color: rgb(90, 83, 83);
  }